@import url('https://fonts.googleapis.com/css?family=Kavoon|Open+Sans|Dr+Sugiyama|Ruslan+Display|Waiting+for+the+Sunrise"');

/* Reset */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #1C1F2A;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #fff;
  scroll-behavior: smooth;
}


.no-scrolling {
  overflow: hidden;
}

.wrapper {
  width: 90%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

h1 {
  font-family: 'Ruslan Display', cursive;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-top: 2rem;
}

h2 {
  font-family: 'Exo', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

p {
  font-size: 1.1rem;
  color: #fff;
}

li {
  color: #fff;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

a:hover,
input,
textarea,
a:focus,
a:active {
  outline-style: none;
}

img {
  width: 100%;
  height: 100%;
}

/* Modal Start */
.modal {
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.747) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  display: none;
  transition: 0.5s all ease-in-out;
}

.modal .modal__content {
  width: 80%;
  max-width: 640px;
  margin: 3rem auto;
  padding: 1rem;
  background: #1c1f2a;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #970a13;
  position: relative;
  animation: .5s slideDown;
}

/* Animation */
@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.open {
  display: block;
}

@media screen and (min-width: 1024px) {
  .modal .modal__content {
    padding: 4rem 2rem;
  }
}


.modal .modal__content .modal__header h1 {
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .modal .modal__content .modal__header h1 {
    font-size: 2rem;
  }
}

.modal .modal__content .modal__header h1 span {
  color: #970a13;
}

.modal .modal__content .modal__header .close__modal__btn {
  width: 50px;
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  top: .2rem;
  cursor: pointer;
}

.modal .modal__content .modal__body .contact__info__email {
  margin: .5rem 0;
}

.modal .modal__content .modal__body .contact__info .fas {
  font-size: 1.5rem;
  color: #970a13;
  padding-right: .5rem;
}


/* Header start*/
#main__header {
  background-image: url("../img/HERO.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: 9999;
}

#main__header .hamburger__container {
  width: 32px;
  min-width: 32px;
  padding-top: 1.5rem;
  padding-left: 1rem;
}

@media screen and (min-width: 1024px) {
  #main__header .hamburger__container {
    width: 30px;
  }
}

#main__header .hamburger__container .hamburger__menu {
  width: 100%;
  cursor: pointer;
}

#main__header .hamburger__container .hamburger__menu .hamburger__span,
#main__header .hamburger__container .hamburger__menu .hamburger__span:before,
#main__header .hamburger__container .hamburger__menu .hamburger__span:after {
  zoom: 1.1;
  content: "";
  display: block;
  width: 100%;
  height: 3.5px;
  background-color: #f8f9fa;
  position: relative;
}

#main__header .hamburger__container .hamburger__menu .hamburger__span:before {
  bottom: 9px;
}

#main__header .hamburger__container .hamburger__menu .hamburger__span:after {
  top: 5px;
}

#main__header .main__nav {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0rem;
  left: -150rem;
  z-index: 999;
}

#main__header .main__nav .main__nav__menu {
  width: 200px;
  height: 100%;
  background: #360505;
}

#main__header .main__nav .main__nav__menu .main__nav__menu__X__box {
  width: 50px;
  position: relative;
  left: 11.5rem;
  text-align: center;
  z-index: 999;
}

#main__header .main__nav .main__nav__menu .main__nav__menu__X__box #x {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
}

@media screen and (min-width: 1024px) {
  #main__header .main__nav .main__nav__menu .main__nav__menu__X__box #x {
    font-size: 1.5rem;
  }
}

#main__header .main__nav .main__nav__menu .main__nav__menu__item {
  padding: 1rem;
  border-bottom: 1px solid #020202;
}

#main__header .main__nav .main__nav__menu .main__nav__menu__item:hover {
  background-color: #300101;
}

#main__header .main__nav .main__nav__menu .main__nav__menu__item a {
  color: #fff;
  text-transform: uppercase;
}

#main__header .open {
  left: 0;
}

#main__header .header__content {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  margin-top: 12rem;
}

@media screen and (min-width: 1300px) {
  #main__header .header__content {
    margin-top: 9rem;
  }
}

#main__header .header__content .logo {
  width: 90%;
  margin: 0 auto;
}

#main__header .header__content .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


#main__header .header__content .flex .header__btn {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  background: transparent;
  cursor: pointer;
}

#main__header .header__content .flex .header__btn:hover {
  color: #FFF;
}

#main__header .header__content .flex .header__btn:focus {
  color: #FFF;
}

#main__header .header__content .flex .header__btn {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 270px;
  font-weight: bold;
  padding: 14px 0px;
  border: 3px solid rgb(154, 8, 18);
  border-radius: 10px;
  position: relative;
  -webkit-transition: 2s all ease;
  transition: 2s all ease;
  z-index: 1;
}

#main__header .header__content .flex .header__btn:hover {
  box-shadow: 0 10px 50px rgba(153, 9, 76, 0.493), 0 1px 50px rgba(153, 9, 76, 0.493);
  -webkit-transition: .5s all ease-in-out;
  transition: .5s all ease-in-out;
}

#main__header .header__content .flex .header__btn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  content: '';
  background-color: #970a13;
  z-index: -2;
}

#main__header .header__content .flex .header__btn:hover::before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 50%;
  right: 50%;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  #main__header .header__content .header__btn {
    padding: .5rem 2.5rem;
    font-size: 1.8rem;
  }
}

/* Header end*/
/* About Start*/
#about h1 {
  color: #970a13;
}

@media screen and (min-width: 768px) {
  #about h1 {
    font-size: 2.5rem;
  }
}

#about h1 span {
  color: #fff;
}

#about h3 {
  text-align: center;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  #about h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  #about h3 {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}

#about .about__content {
  display: grid;
}

@media screen and (min-width: 1024px) {
  #about .about__content {
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#about .about__content .about__image {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  border: 2px solid #970a13;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
  #about .about__content .about__image {
    margin: 0;
  }
}

#about .about__content .about__bio {
  padding: 1rem 0;
}

@media screen and (min-width: 1024px) {
  #about .about__content .about__bio {
    height: 90%;
    border: 2px solid #970a13;
    border-left: none;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
  }
}

#about .about__content .about__bio h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  #about .about__content .about__bio h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  #about .about__content .about__bio h2 {
    font-size: 2rem;
  }
}

#about .about__content .about__bio h2 span {
  color: #970a13;
}

#about .about__content .about__bio .bio__content {
  width: 90%;
  margin: 0 auto;
}

#about .about__content .about__bio .bio__content p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  #about .about__content .about__bio .bio__content p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width:1024px) {
  #about .about__content .about__bio .bio__content p {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
  }
}

#about .about__content .about__bio .bio__content .about__signature {
  text-align: right;
  margin-top: .9rem;
}

@media screen and (min-width: 1024px) {
  #about .about__content .about__bio .bio__content .about__signature {
    text-align: right;
    margin-top: 2rem;
  }
}

#about .about__content .about__bio .bio__content .about__signature h6 {
  color: #970a13;
  font-family: 'Dr Sugiyama', cursive;
  font-size: 1.2rem;
  font-weight: 100;
}

/* About end*/
/* Services start */
#services .wrapper h1 {
  color: #970a13;
}

@media screen and (min-width: 768px) {
  #services .wrapper h1 {
    font-size: 2.5rem;
  }
}

#services .wrapper h1 span {
  color: #fff;
}

#services .wrapper h3 {
  text-align: center;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  #services .wrapper h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  #services .wrapper h3 {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}

#services .wrapper .services__content {
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 2rem;
  border: 2px solid #970a13;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  #services .wrapper .services__content {
    padding: 5rem;
  }
}

#services .wrapper .services__content .lighting__image {
  grid-row: 1/1;
  width: 100%;
  height: 100%;
  max-height: 600px;
  padding-bottom: 2rem;
}

#services .wrapper .services__content .services__details {
  grid-row: 1/1;
}

#services .wrapper .services__content .services__details h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0;
}

@media screen and (min-width: 768px) {
  #services .wrapper .services__content .services__details h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  #services .wrapper .services__content .services__details h2 {
    font-size: 2rem;
  }
}

#services .wrapper .services__content .services__details h2 span {
  color: #970a13;
}

#services .wrapper .services__content .services__details .services__info {
  width: 90%;
  margin: 0 auto;
}

#services .wrapper .services__content .services__details .services__info p {
  text-align: center;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  #services .wrapper .services__content .services__details .services__info p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width:1024px) {
  #services .wrapper .services__content .services__details .services__info p {
    font-size: 1.5rem;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1120px) {
  #services .wrapper .services__content .services__details .services__info p {
    font-size: 2rem;
  }
}

#services .wrapper .services__content .lighting {
  grid-row: 2/2 !important;
  padding: 1rem 0;
}

#services .wrapper .services__content .events__image {
  background: url("../img/events.jpg");
  background-position: 80% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 35% 30% 35%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  grid-row: 2/2;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 768px) {
  #services .wrapper .services__content .events__image {
    height: 400px;
    ;
  }
}

#services .wrapper .services__content .events__image h1 {
  font-size: 1.5rem;
  color: #fff;
  margin: 1rem 0 0 0;
  position: relative;
  z-index: 999;
}

@media screen and (min-width: 768px) {

  /* add to Gulp sass*/
  #services .wrapper .services__content .events__image h1 {
    font-size: 3rem;
  }
}

#services .wrapper .services__content .events__image .decorative__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 999;
}

#services .wrapper .services__content .events__image .decorative__wrap .decorative__line {
  width: 40%;
  height: .23rem;
  background: #fff;
}

@media screen and (min-width: 768px) {
  #services .wrapper .services__content .events__image .decorative__wrap .decorative__line {
    width: 50%;
  }
}

#services .wrapper .services__content .events__image .decorative__wrap #star {
  padding: 0 .3rem;
}

#services .wrapper .services__content .events__image h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.2;
  position: relative;
  text-align: center;
  z-index: 999;
}

@media screen and (min-width: 768px) {
  #services .wrapper .services__content .events__image h2 {
    font-size: 1.8rem;
  }
}

#services .wrapper .services__content .events__image .events__image__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  #services .wrapper .services__content .events__image .events__image__overlay {
    top: 0;
  }
}

#services .wrapper .services__content .jw__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: .8rem;
}

#services .wrapper .services__content .jw__wrap #jw {
  font-size: .8rem;
  color: #970a13;
  text-transform: uppercase;
}

#services .wrapper .services__content .jw__wrap .line {
  margin-left: .2rem;
  width: 10px;
  height: 3px;
  background-color: #970a13;
}

#services .wrapper .services__content .music__image {
  grid-row: 1/1;
  width: 100%;
  height: 100%;
  max-height: 600px;
  padding-bottom: 1rem;
}

#services .wrapper .services__content .music {
  grid-row: 2/2;
  padding: 1rem 0;
}

#services .wrapper .services__content .music h2 {
  padding-top: .5rem;
}

/* Services end*/
/* Photos/Reviews start*/
#photos-reviews {
  position: relative;
}

#photos-reviews h1 {
  color: #970a13;
}

@media screen and (min-width: 768px) {
  #photos-reviews h1 {
    font-size: 2.5rem;
  }
}

#photos-reviews h3 {
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  #photos-reviews h3 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  #photos-reviews h3 {
    font-size: 2rem;
  }
}

#photos-reviews .photos__gallery {
  display: grid;
  justify-items: center;
  padding: 0 2rem;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  #photos-reviews .photos__gallery {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    -ms-column-gap: 1rem;
    column-gap: 1rem;
  }
}

#photos-reviews .photos__gallery .img__wrap {
  max-width: 500px;
  margin-bottom: 1rem;
}


#photos-reviews .photos__gallery .img__wrap img {
  height: 100%;
}


#photos-reviews .photos__gallery .social__media {
  padding-top: 1rem;
}

@media screen and (min-width: 1024px) {
  #photos-reviews .photos__gallery .social__media {
    border: 2px solid #970a13;
    background-color: #1C1F2A;
    width: 30%;
    height: 25%;
    line-height: 1;
    padding: 1rem 1rem 1rem 2rem;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1215px) {
  #photos-reviews .photos__gallery .social__media {
    /* add to gulp sass*/
    height: 17%;
  }
}

@media screen and (min-width: 1024px) {
  #photos-reviews .photos__gallery .social__media .social__media__wrap {
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
  }
}

#photos-reviews .photos__gallery .social__media .social__media__wrap h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  #photos-reviews .photos__gallery .social__media .social__media__wrap h4 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

#photos-reviews .photos__gallery .social__media .social__media__wrap h4 span {
  color: #970a13;
}

#photos-reviews .photos__gallery .social__media .social__media__wrap .social__media__btn__wrap {
  display: inline;
}

#photos-reviews .photos__gallery .social__media .social__media__wrap .social__media__btn__wrap .social__media__btn {
  padding: .5rem 1.2rem;
  background-color: #970a13;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
}

@media screen and (min-width: 1024px) {
  #photos-reviews .photos__gallery .social__media .social__media__wrap .social__media__btn__wrap .social__media__btn {
    font-size: 1.5rem;
  }
}

#photos-reviews .photos__gallery .social__media .social__media__wrap .social__media__btn__wrap .social__media__btn:hover {
  background: #4267B2;
}

#photos-reviews #reviews {
  text-align: center;
  background-color: #970a13;
  padding: 1rem 0;
  margin-top: 2rem;
}

@media screen and (min-width: 950px) {
  #photos-reviews #reviews {
    padding: 5rem 0;
  }
}

@media screen and (min-width: 1363px) {
  #photos-reviews #reviews {
    padding: 7rem 0;
  }
}

#photos-reviews #reviews .reviews__wrap {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 1024px) {
  #photos-reviews #reviews .reviews__wrap {
    width: 60%;
  }
}

#photos-reviews #reviews #reviews1,
#reviews2,
#reviews3 {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 4rem;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
}

;

#photos-reviews #reviews .reviews__wrap h2 {
  padding-top: 1rem;
}

@media screen and (min-width: 1024px) {
  #photos-reviews #reviews .reviews__wrap h2 {
    font-size: 2rem;
  }
}

#photos-reviews #reviews .reviews__info {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#photos-reviews #reviews .reviews__info p {
  font-family: 'Waiting for the Sunrise', cursive;
}


@media screen and (min-width: 768px) {
  #photos-reviews #reviews .reviews__info p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  #photos-reviews #reviews .reviews__info p {
    font-size: 2rem;
  }
}

#photos-reviews #reviews .reviews__info .clients__name {
  font-family: 'Waiting for the Sunrise', cursive;
  margin: 2rem 0;
}

#photos-reviews #reviews .slider {
  margin-top: 13rem;
}

@media screen and (min-width: 1024px) {
  #photos-reviews #reviews .slider {
    margin-top: 16rem;
    position: relative;
    z-index: 9999;
  }
}

#photos-reviews #reviews .slider .round__dots {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

#photos-reviews #reviews .slider .round__dots:nth-child(2) {
  margin: 0 .5rem;
}

.grey__dot {
  background-color: rgba(199, 190, 199, 0.867) !important;
}

/* Photos/Reviews end*/
/* Contact start */
#contact h1 {
  color: #970a13;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  #contact h1 {
    font-size: 2.5rem;
  }
}

#contact h1 span {
  color: #fff;
}

#contact #contact__form {
  background-color: #970a13;
}

@media screen and (min-width: 1024px) {
  #contact #contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

#contact #contact__form h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0;
  margin-bottom: .5rem;
}

@media screen and (min-width: 1024px) {
  #contact #contact__form h3 {
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  #contact #contact__form .form__container {
    width: 50%;
    padding: 2rem 0rem;
    justify-items: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }
}

#contact #contact__form .form__wrap {
  /* Add to gulp sass*/
  display: grid;
  grid-template-rows: auto;
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
  padding: 1rem 0;
  height: 600px;
}

@media screen and (min-width: 1024px) {
  #contact #contact__form .form__wrap {
    justify-content: center;
  }
}

#contact #contact__form .form__wrap input {
  height: 48px;
  background-color: rgba(230, 114, 114, 0.5) !important;
  border: none;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color: #fff;
}

#contact #contact__form .form__wrap input::placeholder {
  color: #fff;
  font-size: .5rem;
}

@media screen and (min-width: 1024px) {
  #contact #contact__form .form__wrap input::placeholder {
    font-size: 1rem;
  }
}

#contact #contact__form .form__wrap input:nth-child(2) {
  grid-column: 1/-1;
  grid-row: 2/2;
}

#contact #contact__form .form__wrap input:nth-child(3) {
  grid-column: 1/-1;
  grid-row: 3/3;
}

#contact #contact__form .form__wrap input:nth-child(4) {
  grid-column: 1/2;
  grid-row: 4/4;
}

#contact #contact__form .form__wrap input:nth-child(5) {
  grid-column: 1/-1;
  grid-row: 5/5;
}

#contact #contact__form .form__wrap input:nth-child(6) {
  grid-column: 1/-1;
  grid-row: 6/6;
}

#contact #contact__form .form__wrap textarea {
  grid-column: 1/-1;
  grid-row: 7/7;
  background-color: rgba(230, 114, 114, 0.5) !important;
  margin-bottom: 1rem;
  border: none;
  padding: 1rem;
  color: #fff;
}

#contact #contact__form .form__wrap textarea::placeholder {
  color: #fff;
  font-size: .5rem;
  text-transform: capitalize;
}

@media screen and (min-width: 1024px) {
  #contact #contact__form .form__wrap textarea::placeholder {
    font-size: 1rem;
  }
}


#contact #contact__form .form__wrap #contact__btn {
  grid-column: 1/-1;
  grid-row: 8/8;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 14px 0px;
  border-radius: 2px;
  position: relative;
  background: #1C1F2A;
  border: none;
  z-index: 1;
  cursor: pointer;
}

#contact__btn:hover {
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.16), 0px 20px 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#contact__form .form__wrap #contact__btn:before {
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  content: "";
  background-color: #360505;
  color: #fff;
  z-index: -1;
}

#contact #contact__form .form__wrap #contact__btn:hover::before {
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 50%;
  right: 50%;
  opacity: 1;
  color: #fff;

}

#contact .contact__img {
  display: none;
  width: 100%;
  height: 100%;
  background-image: url("../img/contact-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1024px) {
  #contact .contact__img {
    display: block;
    width: 50%;
    height: auto;
  }
}

/* Contact end */

/* Footer start */
#main__footer {
  position: relative;
  z-index: 999;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
}

#main__footer .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 35% 25%;
  grid-template-rows: auto;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  -o-column-gap: .5rem;
  -ms-column-gap: .5rem;
  column-gap: .5rem;
  padding-top: 1rem;
}

@media screen and (min-width: 751px) {
  #main__footer .wrapper .footer__logo .logo {
    padding-bottom: 1rem;
  }
}

#main__footer .wrapper .footer__info {
  grid-column: 1/2;
  text-align: center;
}

#main__footer .wrapper .footer__info h5 {
  font-size: .8rem;
  line-height: 2;
}

@media screen and (min-width: 1024px) {
  #main__footer .wrapper .footer__info h5 {
    font-size: 1.5rem;
  }
}


#main__footer .wrapper .footer__logo {
  grid-column: 2/3;
  text-align: center;
  line-height: .8;
}

#main__footer .wrapper .footer__logo .footer-btn {
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 14px 5px;
  border: 3px solid #970a13;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.footer-btn:hover {

  box-shadow: 0 3px 30px rgba(153, 9, 19, 0.16), 0 3px 30px rgba(153, 9, 19, 0.1);
}

#main__footer .wrapper .footer__logo .footer-btn:before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  content: '';
  background-color: #970a13;
  z-index: -2;
}

#main__footer .wrapper .footer__logo .footer-btn:hover::before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 50%;
  right: 50%;
  opacity: 1;

}

#main__footer .wrapper .footer__nav {
  grid-column: 3/4;
  text-align: center;
}

#main__footer .wrapper .footer__nav a {
  color: #fff;
  font-size: .8rem;
  padding-bottom: .2rem;
}
@media screen and (min-width: 1024px) {
  #main__footer .wrapper .footer__nav a {
    font-size: 1.5rem;
  }
}

#main__footer .wrapper .footer__nav a:hover {
  border-bottom: 3px solid #970a13;
  color: #970a13;
}

#main__footer .wrapper .copyright__info {
  grid-column: 1/-1;
  grid-row: 2/2;
  text-align: center;
}

#main__footer .wrapper .copyright__info p {
  font-size: .8rem;
}
@media screen and (min-width: 1024px) {
  #main__footer .wrapper .copyright__info p {
    font-size: 1.5rem;
  }
}

#main__footer .wrapper .copyright__info span {
  color: #970a13;
  font-size: 1.5rem;
}

#main__footer .wrapper .contact__img {
  position: absolute;
  top: 0;
  grid-row: 3/-3;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Footer start */